{%- if settings.account_header_enable -%}
<div class="header-links">
  <ul>
    {% include 'account-menu-detail' %}
  </ul>
</div>
{%- endif -%}
{% include 'social-mobile-icons' %}
<div class="refer-to-helpcenter text-black">
  <p class="text-uppercase text-black">Not finding what you're looking for? </p>
  <a href="/pages/contact-us"><b>HELP CENTER</b></a>
</div>       