{% capture linerscode %} 
<span style="line-height: 1;            display: block;        ">MAGNETIC EYELINERS</span>
<small style="display: block; line-height: 1;font-size: 10px;color: grey;">MOXIE's SECRET FORMULAS</small>  {% endcapture %}  

{% include  
'new-menu-items',title:'<span class=" left-tag"> <span class="new-tag-left">NEW!</span>LASH KITS</span>',
url:'/collections/lash-kits',handle:'10-magnet',image:'https://cdn.shopify.com/s/files/1/0524/1507/0375/files/Natural_Kit_White_1x1_946efe87-44e2-4f64-a160-5e7df21786ad.jpg?v=1614847036' , custom_class:"sm:w-1/4 w-1/2"
%} {% include 'new-menu-items',title:'MAGNETIC LASHES',
url:'/collections/magnetic-lashes',handle:'lash-collections',image:'https://cdn.shopify.com/s/files/1/0524/1507/0375/files/OG_Collection_Editorial_7_White.jpg?v=1614847038', custom_class:"sm:w-1/4 w-1/2"
%} {% include 'new-menu-items',title:linerscode,   
url:'/collections/magnetic-eyeliner',handle:'magnetic-eyeliners',image:'https://cdn.shopify.com/s/files/1/0524/1507/0375/files/LME_Black_on_Acrylic_copy_400x400_crop_center.jpg?v=1614851474', custom_class:"sm:w-1/4 w-1/2" 
%} 

{% include 'new-menu-items',title:'<span class=" left-tag"> ACCESSORIES</span>',   
url:'/collections/accessories',handle:'v',image:'https://cdn.shopify.com/s/files/1/0524/1507/0375/files/Scissors_Applicator_Banner_Aligned_400x400_crop_center.jpg?v=1614851474' , custom_class:"sm:w-1/4 w-1/2"
%}      
  
{% comment %} 
 
{% include 'new-menu-items',title:'<span class=" left-tag"> <span class="new-tag-left">SALE!</span>5 MAGNET</span>',  
url:'/collections/5-magnet-sale',handle:'magnetic-lashes',image:'https://cdn.shopify.com/s/files/1/2569/3918/files/moxielash_5_magnet_sale.jpg?v=1606911481' , custom_class:"sm:w-1/4 w-1/2"
%}      
{% include 'new-menu-items',title:'HOLIDAY GIFTS',    
url:'/collections/xmas-gifts',handle:'xmas-gift-shop',image:'https://cdn.shopify.com/s/files/1/2569/3918/files/moxielash_xmas_gifts_800_800.jpg?v=1608626337' , custom_class:"sm:w-1/4 w-1/2"
%}     
           


{% include 'new-menu-items',title:'<span class=" left-tag">XMAS GIFTS <span class="new-tag-left" style="
    left: 0px;
    top: -1px;
">40% Off</span></span>',  
url:'/collections/xmas-gifts',handle:'xmas-gifts',image:'https://cdn.shopify.com/s/files/1/2569/3918/files/ML_SITE_12_2_30OFF_Sale_Thumbnail_R1_A_1_600x600_crop_center.jpg?v=1607675311' , custom_class:"sm:w-1/4 w-1/2"
%}         

{% endcomment %}            