<style>
  @media all {
    .thanks-subscribe * {
    color: white;
}
    .__pf .pf-cffd7264 {
      text-align: center;
      font-weight: 500;
      margin: 0px 0px 0.5rem;
      text-transform: uppercase;
      font-family: Futura-Bold;
      font-size: 85px;
      color: rgb(255, 255, 255);
      color:black; /*  TODO: REMOVE THIS LINE*/

      letter-spacing: 0px;
      line-height: 105px;
    }
    form.sc-qXUgY.kbUwSQ.pf-87d33a0e {
     
    } 
    .__pf .pf-72647df5 {
      margin: 0px auto 25px;
      font-family: Brandon;
      text-align: left;
      font-size: 30px;
      color: rgb(255, 255, 255);
      color:black;
      letter-spacing: 0px;
      line-height: 40px;
    } 
    .__pf .pf-5c46e562 {
      padding: 0px 75px;
    }
    .__pf .pf-5a4f8bf5 {
      display: flex;
      margin: 0px auto;
      text-align: center;
      width: min(90vw,1500px);
      max-width: 100%; 
      height: 350px; 
      align-items: center;
      place-content: center;
      flex-wrap: wrap;
    }
    .__pf .pf-8bf587d3 {
    
    background-image: url(https://cdn.shopify.com/s/files/1/2569/3918/files/Newsletter_BG.jpg?v=1589642014);
    background-size: cover;
    }
    .__pf .pf-87d33a0e  button {
      width: 120px;
      border-radius: 0px;
      padding: 0px;
      border-style: solid;
      text-align: center;
      font-family: "Brandon Bold", Futura;
      font-weight: 400;
      background: black;
      font-size: 12px;
      color: white;
      border-color: white;
      border-width: 1px;
      letter-spacing: 3.43px;
      text-transform: uppercase;
    }
    .__pf .pf-87d33a0e > input {
      margin-right: 15px;
    }
    p.small-desclaimer-text {
      color: white;      color:black;

      font-size: 11px;
      text-align: left;
    }

    p.small-desclaimer-text a {
      color: white; color:black;
      text-decoration: underline; margin-right:5px;
    }
  }
  @media only screen and (max-width: 767px) {
    .__pf .pf-cffd7264 {
      font-size: calc(45px + 1vw); 
      color: rgb(255, 255, 255);
      color:black; /*  TODO: REMOVE THIS LINE*/
      letter-spacing: 0px;
      line-height: 52px;
      text-align: center;
      margin-bottom: 30px; white-space: nowrap;
    }
    .__pf .pf-72647df5 {
      padding: 0px;
      font-size: 20px;
      text-align: center;
      letter-spacing: 0px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .__pf .pf-5c46e562 {
      padding: 0px;
    }
    .__pf .pf-5a4f8bf5 {
      max-width: 100%;
      width: min(90vw,1500px);
      padding: 0px;
      height: auto;
    }
    .__pf .pf-8bf587d3 {
      min-height: 220px;
      display: flex;
      align-items: center;
      margin-top: 20px;
      max-width: 100%;
      background-size: cover; 
    background-position: center;
    }
    form.sc-qXUgY.kbUwSQ.pf-87d33a0e {
      flex-wrap: wrap;
      padding: 0px;
      padding-top: 20px;
    }
    form.sc-qXUgY.kbUwSQ.pf-87d33a0e button,
    form.sc-qXUgY.kbUwSQ.pf-87d33a0e input {
      height: 40px;
      width: 100%; 
      margin: 0px;
      margin-bottom: 10px;
    }
    .sc-qPjXN.eYzxUD.pf-5a4f8bf5.pf-r.pf-r-eh.no-row-padding {
      padding: 50px 15px;
    }
  }

 section#newsletter-footer  .sc-pQQXS.iWCqut {
    margin: 0 auto;
}
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .__pf .pf-cffd7264 {
      font-size: 65px;
      line-height: 72px;
    }
    .__pf .pf-72647df5 {
      font-size: 20px;
      line-height: 25px;
    }
    .__pf .pf-5c46e562 {
      padding: 15px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .__pf .pf-cffd7264 {
      font-size: 64px;
      line-height: 70px;
    }
    .__pf .pf-72647df5 {
      font-size: 20px;
      line-height: 23px;
    }
    .__pf .pf-5c46e562 {
      padding-left: 0px;
    }
  }
</style>

<section id="newsletter-footer" class="want-more-2020">
  <div
    data-container="false"
    class="sc-pZopv bjKdkd pf-8bf587d3"
    data-pf-type="Section"
  >
    <div class="sc-pQQXS iWCqut">
      <div
        class="sc-qPjXN eYzxUD pf-5a4f8bf5 pf-r pf-r-eh no-row-padding"
       
      >
        <div
          class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"
        >
          <div class="sc-pkUyL fTyjzF pf-e5623191" data-pf-type="Column">
            <div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-f94c5c46">
              <h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-cffd7264">
                <span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3708c62a"
                  >WANT MORE?</span
                >
              </h3>
            </div>
          </div>
        </div> 
        <div
          class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--6"
        >
          <div class="sc-pkUyL fTyjzF pf-31915a4f" data-pf-type="Column">
            <div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-5c46e562">
              <p class="sc-oUAoT HrWqm pf-72647df5" data-pf-type="Paragraph">
                <span data-pf-type="Text" class="sc-ptSuy fnmilh pf-adcad436"
                  >Want more from MoxieLash? Sign up for <span class=" hidden show-if-US">SMS</span> <span class="show-if-not-US">EMAIL</span> and receive an
                  instant discount, VIP sales alerts, new product launches &amp;
                  much more!<br 
                /></span> 
              </p>
              <form  
                action="/post_newsletter"
                method="post"
                role="submit_newsletter"
                class="sc-qXUgY kbUwSQ pf-87d33a0e sms-attentive-newsletter  hidden show-if-US"
              > 
              <div class="flex flex-wrap sm:flex-no-wrap">
                <input
                  type="tel"
                  id="phone"
                  pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                  name="phone"
                  placeholder="Enter Phone Number e.g 2123334444"
                  value=""
                  required
                  class="snize-input-style"
                  oninvalid="this.setCustomValidity('Please input correct phone number.')"
                  onchange="this.setCustomValidity('')"
                /><button type="submit"><span>Submit</span></button>
              </div>
                <p class="small-desclaimer-text">
                  By submitting this form, you agree to receive recurring
                  automated promotional and personalized marketing text messages
                  (e.g. cart reminders) from MoxieLash at the cell number used
                  when signing up. Consent is not a condition of any purchase.
                  Reply HELP for help and STOP to cancel. Msg frequency varies.
                  Msg &amp; data rates may apply.
                  <a href="http://attn.tv/moxielash/terms.html"> View Terms </a
                  >&
                  <a href="https://www.moxielash.com/pages/privacy-policy"
                    >Privacy</a
                  >.
                </p>
              </form> 
              <div class="show-if-not-US">
                <div class="klaviyo-form-Hynukg"></div>
              </div>
    
              <div class="thanks-subscribe hidden">
                <h3>
                  Thanks for subscribing!
                </h3> 
                <p>Check your phone for a confirmation message.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("form.sms-attentive-newsletter").submit(function (e) {
      e.preventDefault();
      var visitorId = document.cookie.replace(
        /(?:(?:^|.*;\s*)__attentive_id\s*=\s*([^;]*).*$)|^.*$/,
        "$1"
      );
      let phone= $('input#phone','form.sms-attentive-newsletter').val();
      var phoneData = {
        visitorId,
        phone: "+1"+phone
      };     
      var settings = {
        async: true,
        crossDomain: true,
        url: "https://api.attentivemobile.com/add-subscribers",
        method: "POST",
        headers: {
          authorization: "Bearer pKWn8nyJUUnpyEUPuTz-7fMwTnaZM9FsAaBNEtR2QyA"
        },
        data: JSON.stringify(phoneData)
      };
      if(visitorId && visitorId!=''){
      $.ajax(settings).done(function (response) {
        $('.thanks-subscribe').removeClass('hidden');
        $('.form.sms-attentive-newsletter').addClass('hidden');
 
      }).fail(function (e){
        alert('Please verify information and try again')

      });
      } 
      else{
        alert('Visitor Id not found');

      }

    });
  });
</script>
