<style>
  .__pf .pf-d2deb5d7 {
  flex-wrap: wrap !important;
  padding-top: 10px; }

.__pf .pf-b5223b3f {
  height: 100px !important; }

.custom-pr-icons a {
  display: block;
  margin: 0 auto; }

.custom-pr-icons .slick-track {
  display: flex;
  align-items: center;
margin:0 auto;
}

.custom-pr-icons button.slick-arrow {
  display: none !important; }
 
  p.sc-pkvvt.cbrLgP.pf-a53ad2de {
    text-align: center;
    margin: 0px;
    opacity: 0.7;
    font-family: Brandon;
    font-size: 12px;
    color: #fff;
    letter-spacing: 3.43px;
    white-space: nowrap;
}

.__pf .pf-49414485{width:123px;}
.__pf .pf-44852f22{width:190px;}
.__pf .pf-2f220e07{width:117px;}
.__pf .pf-0e078cca{width:123px;}
.__pf .pf-8cca77ae{width:86px;}
.__pf .pf-77aee310{width:112px;}
.__pf .pf-e310a53a{width:147px;}
@media only screen and (max-width: 767px){
.__pf .pf-49414485{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-44852f22{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-2f220e07{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-0e078cca{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-8cca77ae{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-77aee310{width:110px;height:auto;display:block;margin-top:0px;}
.__pf .pf-e310a53a{width:110px;height:auto;display:block;margin-top:0px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
.__pf .pf-49414485{height:auto;}
.__pf .pf-44852f22{height:auto;}
.__pf .pf-2f220e07{height:auto;}
.__pf .pf-0e078cca{height:auto;}
.__pf .pf-8cca77ae{height:auto;}
.__pf .pf-77aee310{height:auto;}
.__pf .pf-e310a53a{height:auto;}
}

</style>
<div class="sc-pkUyL fTyjzF pf-d2deb5d7" data-pf-type="Column">
  <p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a53ad2de">
    <span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fb204941"
      >AS SEEN IN&nbsp;</span
    >
  </p>
  <div class="flex items-center justify-between w-full custom-pr-icons">
    <div>
      <a
        data-action="url"
        href="https://www.cosmopolitan.com/style-beauty/beauty/g29823549/best-magnetic-lashes/"
        target="_blank"
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-77aee310 logo-image2  "
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
    <div>
      <a
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-0e078cca logo-image2 "
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-f8954b89--the-oprah-magazine.png?v=1591901359 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-f8954b89--the-oprah-magazine.png?v=1591901359  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-f8954b89--the-oprah-magazine.png?v=1591901359  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
    <div>
      <a data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-44852f22 logo-image" style="      width: 160px;
  " 
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-4b890d6a--popsugar.png?v=1591901367 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-4b890d6a--popsugar.png?v=1591901367  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-4b890d6a--popsugar.png?v=1591901367  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div><div>
      <a class="" style="width: 89px">
        <img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-84d3d11b--forbes.png?v=1605080682 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-84d3d11b--forbes.png?v=1605080682  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-84d3d11b--forbes.png?v=1605080682  400w
          "
          class="sc-qZtVr dLIPjF pf-0d84d3d1 logo-image"
          data-pf-type="Image2"
      /></a>
    </div>
    <div>
      <a data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-49414485 logo-image"
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-081fda27--insider.png?v=1591901343 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-081fda27--insider.png?v=1591901343  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-081fda27--insider.png?v=1591901343  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div> 
     
    <div>
      <a
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-2f220e07 logo-image2 "
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-954b890d--elitedaily.png?v=1591901362 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-954b890d--elitedaily.png?v=1591901362  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-954b890d--elitedaily.png?v=1591901362  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
    
    <div>
      <a
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-8cca77ae logo-image2 "
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-27f8954b--elle.png?v=1591901355 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-27f8954b--elle.png?v=1591901355  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-27f8954b--elle.png?v=1591901355  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
    <div>
      <a
        data-action="url"
        href="https://www.cosmopolitan.com/style-beauty/beauty/g29823549/best-magnetic-lashes/"
        target="_blank"
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-77aee310 logo-image2  "
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-da27f895--cusmo.png?v=1591901351  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
    <div>
      <a
        data-pf-type="Image2"
        class="sc-pzLqt jakOsZ pf-e310a53a logo-image2  " 
        ><img
          sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px"
          srcset="
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-1fda27f8--the-zoereport.png?v=1591901347 1200w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-1fda27f8--the-zoereport.png?v=1591901347  800w,
            https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-1fda27f8--the-zoereport.png?v=1591901347  400w
          "
          class="sc-qZtVr dLIPjF"
      /></a>
    </div>
  </div>
</div>
 
<script>
    $(document).ready(function(){

 
        $('.custom-pr-icons').slick({ dots: false,
  infinite: true,arrow:false,
  slidesToShow: 9, 
  
  slidesToScroll: 1, responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll:2,
        infinite: true,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 2,
        autoplay: true,
  autoplaySpeed: 2000, 
      } 
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
  autoplaySpeed: 2000, 
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
  })

    })
</script>