<style>
    .zoom-pop {transition: all .25s ease;display: flex;z-index: 2;position:absolute;right:0px;border-style: solid;border-width: 0 6.0625rem 6.0625rem 0;border-color: transparent #f7f8f9 transparent transparent;align-items: center;justify-content: center;}

.zoom-icon-wrapper {
    right: 0px;
    top: 0px;
    position: absolute;
} 

.zoom-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    right: -114px;
    top: -22px;
    width: 100px;
    height: 100px;
}
.slide-wrapper-for-zoom.active .zoom-icon.zoom-in {
    display: none;
}
 
.slide-wrapper-for-zoom.active .zoom-icon.zoom-out {
        display: block!important;

}      


@media(max-width:767px){
    .zoom-pop {
    height: 65px;
    width: 65px;
    border-width: 0 4.0625rem 4.0625rem 0;
}

.zoom-icon-wrapper {
    width: 65px;
    height: 65px;
    right: -80px;
    top: -14px;
} 
         
}
</style>
<div class="zoom-pop">
    <div class="zoom-icon-wrapper">
  <div class="zoom-icon zoom-out" style="display:none" >
    <svg
      width="16px"
      height="14px"
      viewBox="0 0 16 14"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        id="Product-Pages"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <g
          id="Zoom---Expanded"
          transform="translate(-798.000000, -209.000000)"
          stroke-width="0.5"
          stroke="#2B2B2B"
          fill="#2B2B2B"
        >
          <g id="Product-+-Details" transform="translate(0.000000, 113.000000)">
            <g id="Zoom" transform="translate(114.000000, 75.000000)">
              <g id="Close" transform="translate(624.000000, 0.000000)">
                <polygon
                  id="close-black"
                  points="75 22.4 73.6 21 68 26.6 62.4 21 61 22.4 66.6 28 61 33.6 62.4 35 68 29.4 73.6 35 75 33.6 69.4 28"
                ></polygon>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div> 
  <div class="zoom-icon zoom-in">
    <svg
      width="14px"
      height="14px"
      viewBox="0 0 14 14"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        id="Product-Pages"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <g
          id="Zoom---Original"
          transform="translate(-799.000000, -209.000000)"
          fill="#2B2B2B"
        >
          <g id="Product-+-Details" transform="translate(0.000000, 113.000000)">
            <g id="Standard" transform="translate(127.000000, 75.000000)">
              <g id="expand" transform="translate(611.000000, 0.000000)">
                <g transform="translate(61.000000, 21.000000)" id="Group">
                  <g>
                    <g id="Shape">
                      <polygon
                        points="8.90909091 3.81818182 10.1818182 5.09090909 12.7272727 2.54545455 14 3.81818182 14 0 10.1818182 0 11.4545455 1.27272727"
                      ></polygon>
                      <polygon
                        points="3.81818182 8.90909091 5.09090909 10.1818182 2.54545455 12.7272727 3.81818182 14 0 14 0 10.1818182 1.27272727 11.4545455"
                      ></polygon>
                      <polygon
                        points="10.1818182 14 14 14 14 10.1818182 12.7272727 11.4545455 10.1818182 8.90909091 8.90909091 10.1818182 11.4545455 12.7272727"
                      ></polygon>
                      <polygon
                        points="3.85158862 0.0565471709 0.0334066727 0.0565471709 0.0334066727 3.87472909 1.30613407 2.60200182 3.85158862 5.14745636 5.12431589 3.87472909 2.57886135 1.32927444"
                      ></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
</div>
