<style>
.main-header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  }
.main-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.header-wrapperr{
  background-color: #f9f9f9;
  text-align:center;
  width:100%;
}
.title-wrap{
  margin-top:20px;
}
.title-wrap span{
      font-weight: inherit;
    text-decoration: inherit;
  font-size:35px;
      vertical-align: baseline;
    word-break: break-word;
}
.title-wrap p{
    margin-top: 5px;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 20px;
}
.description-wrap{
  margin-top:20px;
  margin-bottom:20px;
}
.description-wrap span{
  font-size:20px;
  letter-spacing: 1.67px;
}
.body-container{
  width:80%;
  padding-top:20px;
  padding-bottom:30px;
}

.moxi-button{
  margin-top:10px;
  margin-bottom:20px;
  border:none;
  min-height:50px;
  min-width:220px;
  background-color:black;
  color:white;
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
}
.email-wrap p{
  padding-top:20px;
  padding-bottom:20px;
  font-size:20px;
  font-style:italic;
}
.email-wrap{
  text-align:center;
  width:80%;
  margin-bottom:20px;
}
</style>
<div class="main-header">
<div class="header-wrapperr">
  <div class="title-wrap">
    {{section.settings.sec_title}}
  </div>
</div>
</div>
<div class="main-container">
  <div class="body-container">
      <p style="border-top:2px dashed black;
border-bottom:2px dashed black;
padding-top:10px;
padding-bottom:10px;
">IMPORTANT NOTE TO RESIDENTS OF THE EUROPEAN UNION AND THE UNITED KINGDOM: This privacy policy contains important information about your rights under the General Data Protection Regulation of the European Union and the equivalent laws of the United Kingdom (the “GDPR”). Please see our GDPR Notice below for more information about these rights</p>
<p>We highly value our customers and their privacy. Our privacy policy is to respect and protect the privacy of our customers. Your personal information is safe with us. All personal information collected on this site is kept strictly confidential and not sold, reused, rented, disclosed, or loaned. Your personal information is used exclusively for the purpose of fulfilling your order and making your buying experience a success. MoxieLash Inc ("MoxieLash", 'we', 'our', 'us') respects the privacy rights of its online visitors ('you', 'your', 'yours') and recognize the importance of protecting the information collected about them.</p>
<p>We provide this statement (the "Privacy Policy") to help you to understand what we may do with any personal information that we obtain from you. Residents of the European Union or the United Kingdom should consult our GDPR Notice below for more information about how to exercise their rights relative to their Personal Information.</p>
<p>This Privacy Policy guides how we collect, store and use the information that you provide us with. By providing your personal information to us, you signify your acceptance of this Privacy Policy and agree that we may collect, use and disclose your personal information as described in this Privacy Policy. This Privacy Policy is incorporated into, and part of, the Terms and Conditions, which govern, in general, your use of the website maintained and operated by MoxieLash Inc (the "Site"). We will use your information only for the purposes set out below. Although we are committed to maintaining your confidence and trust in all of our activities with you, this Privacy Policy does not govern our collection or use of data about you through channels other than the Site. Please exit the Site immediately if you do not accept this Privacy Policy or are accessing the Site in a country or other territory where use of the Site is not permitted.</p>
<p>We may need to update this Privacy Policy from time to time. We recommend that you regularly check this page to ensure that you have read the most recent version. Your use of the Websites constitutes a continuing acceptance of this Privacy Policy, meaning that each time you access the Websites, you accept the then-current version of the Privacy Policy. You should check this page occasionally to review any changes. If we make any material changes we will notify you by posting the revised Privacy Policy on our Websites, which will be the only notice that we provide. This helps you to always be aware of what information we collect, how we use it and under what circumstances, if any, it is disclosed. Your continued use of the Websites and/or continued provision of Personal Information to us will be subject to the terms of the then-current Privacy Policy.</p>
<p><b>LEGAL PURCHASE AGE</b></p>
<p>If you are under 18, we require that you inform a parent or guardian about MoxieLash’s Privacy Policy and Terms and Conditions as well as requiring their consent to the Privacy Policy and Terms and Conditions before placing an order with MoxieLash.Our Website is not intended for use by children under the age of 14, and we will not knowingly collect any information from any person below the age of 14.</p>
<p>If you are under the age of 18 and a resident of California or subject to the laws of the State of California, please contact us via the email address below in order to exercise your right to have us disclose or remove any personal identifying information. If you are under the age of 18 and a resident of California or subject to the laws of the State of California, we do not use your personal information for any third-party purpose.</p>
<p>Basically, if you’re under 18 years old, ask your parents or guardian before ordering please.</p>
<p><b>TYPE OF INFORMATION COLLECTED</b></p>
<p>The following information is provided by MoxieLash Inc to enable our online visitors to be fully informed of our Privacy Policies. The Site collects certain information when you interact with the Site. For example, the Site may collect "Personal Information" which is data that can be used to identify an individual, as defined by applicable law. Personal information does not include pseudonymous data or data that cannot be used to identify you personally (for example, the country, browser, or ISP through which you are connecting to the Site). We may collect pseudonymous data. The following is a list of data that we may collect and process about you:</p>
<p>Information that you provide by filling out forms on the Site. This includes information you provide when you order from the Site; subscribe to any services offered on the Site including but not limited to interactive services (such as blogs, chat rooms, message boards, or other user forums); enter a competition or promotion sponsored by MoxieLash; complete a survey; or report a problem with the Site;</p>
<p>Your correct date of birth, which we may require that you submit accurately to ensure that you do not access the Site if you are not of a legal age to purchase items offered for sale on the Site;</p>
<p>Any information you may provide when you contact us or send us a correspondence;

Details of any transactions you carry out through the Site including the placement of any orders by you; and

Details of your visits to the Site including, but not limited to, your computer's IP address in order to provide us with information that helps us learn about your browser and operating system, password information, page interaction information, traffic data, location data, weblogs, and other data about the resources that you access.

We may obtain information about your usage of our Website to help us develop and improve it further through online surveys and other requests.

If an order is placed with us, we need to hold personal information including your name, email address, phone numbers, home address, shipping and credit card billing address(es) so that we can process and fulfill your order. We do not view or save your credit card or debit card information.

Additionally we may also obtain information as a result of authentication or identity checks. Sometimes we may ask for your telephone number. This number may be given to our courier for delivery services. These details allow us to process your order and to let you know the status of your order.

Basically, we obtain some personal information from you for the purpose of your orders.</p>
<p><b>ADVERTISING PARTNER</b></p>
<p>We partner with Rakuten Advertising, who may collect personal information when you interact with our site. Rakuten Marketing LLC dba Rakuten Advertising, an online business-to-business performance marketing company that provides services to a network of publishers and advertising brands. Those services include personalized advertising, fraud detection, facilitation of advertising-related transactions between network participants and other online advertising tools and technologies (“Services”). The collection and use of this information is subject to the privacy policy located here.</p>
<p><b>USE OF COOKIES ON OUR WEBSITE</b></p>
<p>In common with many websites, we use "cookies" to help us gather and store information about visitors to our Site. A cookie is a small data file that our server sends to your browser when you visit the Site. The use of cookies helps us to assist your use of certain aspects of the Site. You can delete cookies at any time or you can set your browser to reject or disable cookies. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to the Site.</p>
<p>We use Cookies to keep track of your current shopping session, to enable you to proceed to checkout at any time and to personalize your online experience. If you do not accept Cookies you will be unable to use this Site or make any orders. Refer to the Help content of your browser for more information on selecting or deselecting Cookies. If you do not use Cookies, Site functionality may become unstable.

Basically, we use “cookies” to make your online experience as best as possible.</p>
<p><b>HOW PERSONAL INFORMATION MAY BE USED</b></p>
<p>MoxieLash may use your personal information for the processing of orders, payments and to provide you with a personalized shopping experience. We will also use your details to fulfill and deliver your orders. Personal Information that you provide may be disclosed to a credit reference or fraud prevention agency, which may keep a record of that information. Where there is a legal obligation to do so, we may disclose your information to any relevant regulatory body.</p>
<p>When you order from MoxieLash, you will be offered the opportunity to opt out of our email newsletter and other update services. If you choose to opt-out for this service, we will not send you alerts for new products, features nor enhancements; special offers; upgrade opportunities; contests or events of interest. However, if you choose to receive our emails from time-to-time we will use the information you provide to promote the products and services via email. We do collate information about site traffic, sales, wish list, and other commercial information but do not share this information with any third parties. Finally, we may use your personal information for our internal marketing and demographic studies, together with non-personal data to monitor customer patterns so we can consistently improve our site design to better meet our visitors' needs.

In addition to disclosures identified in the purposes above, from time to time we may disclose Personal Information to:</p>
<p>When you order from MoxieLash, you will be offered the opportunity to opt out of our email newsletter and other update services. If you choose to opt-out for this service, we will not send you alerts for new products, features nor enhancements; special offers; upgrade opportunities; contests or events of interest. However, if you choose to receive our emails from time-to-time we will use the information you provide to promote the products and services via email. We do collate information about site traffic, sales, wish list, and other commercial information but do not share this information with any third parties. Finally, we may use your personal information for our internal marketing and demographic studies, together with non-personal data to monitor customer patterns so we can consistently improve our site design to better meet our visitors' needs.

In addition to disclosures identified in the purposes above, from time to time we may disclose Personal Information to:</p>
<p>Our service providers and subcontractors, including our affiliates, retained to perform functions on our behalf or to provide services to us, such as warehousing and delivery; marketing and advertising; data processing; software development; website hosting and management; information technology and office services; legal, accounting, audit and other professional service providers; and further provided such service provider does not collect, use or disclose the personal information for any purpose other than to perform such functions or to provide services to us or as otherwise required by law;

Unaffiliated service providers with whom MoxieLash may subcontract, including website hosting companies, fulfillment companies and other third party service providers;</p>
<p>The prospective seller or buyer of MoxieLash’s business or assets, including where MoxieLash or substantially all of MoxieLash’s assets is acquired by a third party, or any other successor-in-interest or assign of MoxieLash, in which case personal data held by it about its customers will be one of the transferred assets;

If we are under a duty to disclose or share your personal data in order to: comply with any legal or regulatory obligation; respond to inquiries or requests from public authority; enforce or apply the MoxieLash Terms of Use and other agreements; permit us to pursue available remedies or limit the damages that we may sustain; or protect the rights, property, safety or security of MoxieLash, our employees, agents, contractors, customers, the visitors of the Site or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</p>
<p>Basically, we use your personal information only for what is necessary and never share with those who shouldn’t see it.</p>
<p><b>SECURITY</b></p>
<p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
<p><b>CONSENT</b></p>
<p>How do you get my consent?</p>
<p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.

You are solely responsible for any User Content that you submit. You are legally liable for the User Content that you submit including, for example, material protected by copyright, trademark, patent or trade secret law or other proprietary rights laws without permission of the author or owner or subject featured in such submission, or defamatory comments.</p>
<p>You grant to MoxieLash the worldwide, perpetual, irrevocable, royalty-free, fully-paid, non-exclusive, transferable right to use your uploaded User Content in any manner to be determined in the Licensed Parties’ sole discretion, including but not limited to on its webpages, social media pages operated by the Licensed Parties, promotional e-mails and advertisements, and in other marketing, promotional and advertising initiatives, in any media now or hereafter known.</p>
<p>You hereby represent and warrant that (i) you own all rights in and to your User Content, (ii) if the User Content is subject to third party proprietary rights, you have all necessary licenses, rights, consents, and permissions to publish the User Content you submit and to grant the rights granted herein, including permission from all person(s) appearing in your User Content; (iii) you are not a minor, (iv) you are legally entitled to post the User Content, and the Licensed Parties’ use of your User Content as described herein will not violate the rights, including but not limited to copyright, trademark, privacy, publicity or other proprietary rights, of any third party or any law, and (v) the User Content is not libelous, defamatory, obscene, pornographic, abusive, indecent, threatening, harassing, hateful, or offensive. You hereby release, discharge and agree to hold the Licensed Parties, and any person acting on their behalf, harmless from any liability related in any way to the Licensed Parties’ use of your User Content.</p>
<p>The User Content that you submit is deemed non-confidential and the Licensed Parties have no obligation to maintain the confidentiality of any information, in whatever form, contained in any submission, except pursuant to the Licensed Parties’ respective privacy policies. By using the Services, you are consenting to MoxieLash’s collection of any personal information you provide for the MoxieLash’s use and disclosure in connection with the use of your User Content as described herein. If you do not agree to the collection, use and disclosure of your personal information in this way, please do not use the Services or otherwise provide MoxieLash with personal information by contacting support@moxielash.com. Your personal information may be transferred to servers located outside the country in which you live or to affiliates or other trusted third parties based in other countries so that they may process personal information on MoxieLash’s behalf. By using the Services or otherwise providing MoxieLash with personal information, you agree to such collection, use, disclosure, transfer and processing of your information in accordance with the terms of these Terms, the Privacy Policy and applicable data protection laws and regulations.

MoxieLash reserves the right to remove any User Content from the Site, the Brand properties and the Services at any time, for any reason. If you believe User Content residing on the Site or the Services infringes a copyright, please refer to our Copyright Policy below.</p>
<p><b>HOW DO I WITHDRAW MY CONSENT? </b></p>
<p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at support@moxielash.com</p>
<p><b>CHANGES TO THIS PRIVACY POLICY</b></p>
<p>If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. Changes and clarifications will take effect immediately upon their posting on the website. Your use of the Site or any other Moxielash website constitutes a continuing acceptance of this Privacy Policy, meaning that each time you access this or any other Moxielash website, you agree to the then-current Privacy Policy as posted.

If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>
<p><b>WHERE AND HOW TO ASK QUESTIONS OR FILE COMPLAINTS
</b></p>
<p>By visiting this Site, you are consenting and accepting the practices described in this Privacy Policy and our Terms of Use. If you require further information about our Privacy Policy, please go to the help section of the web site where Support Questions are answered, if you require more information please go to the Contact Us section of the web site and send an email to support@moxielash.com.</p>
<p><b>GDPR NOTICE</b></p>
<p>You are a Data Subject as to information that you transmit via the Websites, and a Data Subject as to your own information that you transmit via the Websites, within the meaning of the GDPR. Any Data Subject may contact the GDPR Data Protection Officer at: </p>
<p>support@moxielash.com </p>
<p>You may contact the GDPR Protection Officer at any time if you have questions about the way we handle your data. You may also contact the GDPR Protection Officer in order to exercise any of your rights, including your “right to be forgotten,” under the GDPR. 

Except where expressly stated to the contrary, the Model Clauses of the GDPR apply to this Privacy Policy. </p>
<p>We will follow instructions received from our you pertaining to your rights under the GDPR or any other similar law. You are a “Data Controller” within the meaning of the GDPR. With respect to personal data, we follow instructions that we receive from you, including your instruction to provide you with a machine-readable copy of all information about you that we store or process, and including your instruction to us to “forget” such information, unless those instructions are (i) legally prohibited or (ii) require material changes to the Websites or any of our products or services. In addition, we will reasonably support any Data Controller in addressing requests from other Data Controllers or regulatory authorities regarding our processing of personal data. If we cannot comply with an instruction or if there is a user-billable cost to comply with the instruction, we will promptly notify you.

To process personal data, we and our sub-processors will only use personnel who are bound to observe data secrecy under the Data Protection Law. We will use the appropriate technical and organizational measures in such circumstances.</p>
<p><b>CALIFORNIA SUPPLEMENTAL DATA PRIVACY NOTICE</b></p>
<p>This Privacy Policy describes how we may share your information for marketing purposes. You may contact us with any questions and, to the extent applicable, to request a list of third parties to whom we may disclose information for marketing purposes and the categories of information we may disclose. Users under the age of 13 who are subject to the laws of the State of California may not use the Websites. If you are acting on behalf of someone who is under the age of 13, please notify us at support@moxielash.com.</p>
  </div>
  <a href="https://moxielash.uk/"><button class="moxi-button">{{section.settings.sec_button}}
    </button></a>
  <div class="email-wrap">
    <hr>
    <p>{{section.settings.sec_email}}</p>
    <hr>
  </div>
  </div>


{% schema %}
 {
    "name": "Section privacy policy",
    "settings": [
    
    { 
  "type": "html",
  "id": "sec_title",
  "label": "Add Title"
},
    { 
  "type": "html",
  "id": "sec_description",
  "label": "Add Description"
},
{
  "type": "text",
  "id": "sec_email",
  "label": "Add Text"
},
{
  "type": "text",
  "id": "sec_button",
  "label": "Add Button Text"
}
    ], 
    "presets": [
        {
            "name": "Section privacy",
            "category": "New Section"
        }
    ]
}

{% endschema %}
