<style>
  @media(max-width:767px){
    .paris_hilton{
    order:-1;
    }
  }
.reviews_int_main{
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.reviews_padding_wrapper{
  padding:30px 0px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.reviews_background_wrap{
  background-image: linear-gradient(
45deg
,#000 0,#0a0a0a 20%,#121212 40%,#1b1b1b 60%,#0a0a0a 80%,#000 100%);
    box-shadow: #000 0 0 63px 0;
    padding-bottom: 20px;
    max-width: 100%;
}
.reviews_inner_wrap{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.reviews_heading_wrap{
  padding-top:60px;
}
.reviews_heading_wrap span{
    color: #fff;
    font-family: Futura;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    letter-spacing: 10px;
    margin: 0;
    padding: 1px;
}
.reviews_heading_wrap h1{
  text-align: center;
    color: #fff;
    font-family: Futura-bold;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 20px;
    padding-bottom: 10px;
}
.reviews_cards_wrapper{
  padding: 5px 10px;
    text-align: center;
    display: flex;
  justify-content:center;
  align-items:center;
}
.reviews_card{
  width:17%;
  margin-right: 20px;
  outline: none;
}
.reviews_card_innere{
  text-align: center;
    background: linear-gradient(
223deg
,#000 0,#171717 55%,#000 100%) #fff;
    margin: 0 auto;
    box-shadow: #000 0 0 63px 0;
    width: 100%;
}
.reviews_card_image_wrapper{
overflow:hidden;
}

.reviews_card_image{
  margin-bottom: 30px;
    width: 300px;
    font-family: Brandon;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    height: 50%;
}
.reviews-rating-wrap{
  height: 30px!important;
    padding-top: 3%;
  padding-bottom:10px;
  padding-left:15px;
  font-size:12px;
}
.re-checked{
  padding-right:10px;
  
}
.reviews_card_content_wrap h2{
  font-family: Brandon;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin: -10px 0 0;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.reviews_card_content_wrap p{
  font-family: Futura;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.reviews_card_content_wrap h3{
  display:flex;
  align-items:Center;
  justify-content:Center;
  font-family: Brandon;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin: 0;
  min-height:70px;
}
.reviews_card_image_wrapper{
  height:270px;
}
.reviews_card_image_wrapper img{
 height:100%;
 width:100%;
  object-fit:cover;
}
.reviews_card_innere_paris{
  text-align: center;
    background: white;
    width: 100%;
}
.review_paris h2{
  color:black;
}
.review_paris span{
  color:black;
}
.review_paris h3{
  color:black;
}
.reviews_card_content_wrap{
  height:200px;
}
.reviews-rating-wrap{
  height:20px;
}
.reviews_card_content_wrap P{
  height:30px;
}
.reviews_card_content_wrap h3{
  height:20px;
  padding-top:80px;
}
.reviews_card_content_wrap h2{
  margin-top:40px;
  height:20px;
}
.reviews_card_content_wrap h2{
  font-family: sans-serif;
    font-size: 16px!important;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase!important;
    padding-bottom: 10px;
}
.reviews_link_inta{
  text-decoration:none;
  color:inherit;
}
.reviews_link_inta:hover{
  text-decoration:underline;
}
.reviews_card.slick-slide{ 
    max-width: 300px;
    width: 300px;
} 
.scroller-wrapper {
    overflow-x: scroll;
}

@media  (max-width: 767px) {
  .reviews_cards_wrapper {
    width: unset;
    justify-content: flex-start;
    position: relative;
    width: 100vw;
}.reviews_card {
    min-width: 240px;
}
}
</style>
<div class="reviews_int_main">
  <div class="reviews_padding_wrapper">
    <div class="reviews_background_wrap">
    <div class="reviews_inner_wrap">
      <div class="reviews_heading_wrap">
        <span>OUR BIGGEST FANS</span>
        <h1>CHECK OUT OUR REVIEWS</h1>
      </div>
      <div class="scroller-wrapper">
      <div class="reviews_cards_wrapper">
        <div class="reviews_card">
          <div class="reviews_card_innere">
            <div class="reviews_card_image_wrapper">
<img class="reviews_card_image"src="https://cdn.shopify.com/s/files/1/0524/1507/0375/files/Frankie_Grande_-_0BE4C583-DEC3-48B2-9205-B5333A40BEAE.jpg?v=1615978500">
            </div>
            <div class="reviews_card_content_wrap">
              <h2><a class="reviews_link_inta" href="https://www.instagram.com/frankiejgrande/">Frankie Grande</a></h2>
              <div class="reviews-rating-wrap">
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              </div>
              <p><span>I find these fit my eye shape really well and level up the drama for any occasion.<span></p>
              <h3><a class="reviews_link_inta" href="https://www.instagram.com/frankiejgrande/">@frankiejgrande</a></h3>
            </div>
          </div>
        </div>
          <div class="reviews_card">
          <div class="reviews_card_innere">
            <div class="reviews_card_image_wrapper">
<img class="reviews_card_image"src="https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-d6eb5574--girl1.jpg?v=1608148484">
            </div>
            <div class="reviews_card_content_wrap">
              <h2><a class="reviews_link_inta" href="https://www.instagram.com/nazaninmandi/">Nazanin Mandi Pimentel</a></h2>
              <div class="reviews-rating-wrap">
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              </div>
              <p>I don’t always wear lashes but when I do @moxielash is now my go to</p>
              <h3><a class="reviews_link_inta" href="https://www.instagram.com/nazaninmandi/">@nazaninmandi</a></h3>
            </div>
          </div>
        </div>
            <div class="reviews_card paris_hilton">
          <div class="reviews_card_innere_paris">
            <div class="reviews_card_image_wrapper">
<img class="reviews_card_image"src="https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-daf9a840--parishilton.jpg?v=1608143063">
            </div>
            <div class="reviews_card_content_wrap review_paris">
              <h2><a class="reviews_link_inta" href="https://www.instagram.com/parishilton/">PARIS HILTON</a></h2>
              <div class="reviews-rating-wrap">
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              </div>
              <p><span>I’ve tried every lash you can imagine. These are a game changer!<span></p>
              <h3><a class="reviews_link_inta" href="https://www.instagram.com/parishilton/">@parishilton</a></h3>
            </div>
          </div>
        </div>
              <div class="reviews_card">
          <div class="reviews_card_innere">
            <div class="reviews_card_image_wrapper">
<img class="reviews_card_image"src="https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-eb5574f9--girl2.jpg?v=1608148489">
            </div>
            <div class="reviews_card_content_wrap">
              <h2><a class="reviews_link_inta" href="https://www.instagram.com/Arika/">ARIKA SATO</a></h2>
              <div class="reviews-rating-wrap">
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              </div>
              <p><span>OMG I love how easy @moxielash works<span></p>
                <h3><a class="reviews_link_inta" href="https://www.instagram.com/Arika/">@Arika</a></h3>
            </div>
          </div>
        </div>
                <div class="reviews_card">
          <div class="reviews_card_innere">
            <div class="reviews_card_image_wrapper">
<img class="reviews_card_image"src="https://cdn.shopify.com/s/files/1/2569/3918/t/15/assets/pf-74f9d73e--c8b454644ddf6c6473716afff01537989617bece.png?v=1608148864">
            </div>
            <div class="reviews_card_content_wrap">
              <h2><a class="reviews_link_inta" href="https://www.instagram.com/nataliejillfit/">NATALIE JILL</a></h2>
              <div class="reviews-rating-wrap">
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              <span class="fa fa-star re-checked"></span>
              </div>
              <p><span>So easy to put on. Changes your whole face and big eyes make our faces look younger<span></p>
              <h3><a class="reviews_link_inta" href="https://www.instagram.com/nataliejillfit/">@nataliejillfit</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "reviews Section",
    "settings": [
      
      ],
      "presets": [
          {
            "name": "reviews Section",
            "category": "New Section"
          }
        ]
  }
{% endschema %}
