div.grid-product__meta {
    font-family: 'Futura';
}

.site-footer {
    padding-bottom: 0px;
    font-family: 'Brandon';
    font-weight: 400;
    font-size: 10px;
}

div.grid-product__meta div.grid-product__title.grid-product__title--body {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Futura-bold';
    font-weight: 400;
    font-size: 17px;
}

body .page-width.page-width .section-header .section-header__title.section-header__title, .shopify-section h2, div#shopify-section-1498163293234 h2 {
    font-size: 38px !important;
    font-family: 'Futura';
    font-weight: 600;
}


.main-row-wrapper h4 {
    font-family: 'Futura'!important;
    font-size: 30px!important;
    font-weight: 400!important;
    text-transform: capitalize;
    letter-spacing: 0px;
}


.add-to-cart {
    background: #f7a28d;
    border: 01px solid #000000;
    font-family: 'Brandon'!important;
    font-weight: bold!important;
    font-size: 12px!important;
    color: #000000;
    letter-spacing: 1.92px;
    text-align: center;
    width: 160px;
    min-width: 200px;
}


.__pf .pf-08075377 {
    font-weight: 400;
}

form#cart-form button#shopify_add_to_cart_ {
    font-weight:400;
  font-family:'Futura'!important;
}


.__pf .pf-f3a1e97e {
    font-family: Brandon!important;
    font-size: 14px!important;
    font-weight: 400!important;
    padding-bottom: 25px;
}



<!-- -->
.custom-heading{
margin-top: 30px!important;
}

.__pf .pf-8c5ca995{
display: none;
}

.main-social-wrapper .mobile-nav__social a .icon{
 color: black; 
}


ul#menu-mobile-nav .new-mega-collections a{
 color:black; 
}