/* PageFly Element Styles */
						.dXDQQg { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.dXDQQg:hover, .dXDQQg:active, .dXDQQg:focus, .dXDQQg span { color: inherit; }
.dXDQQg span { display: initial; }
.eiDWck { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.eiDWck i { margin-left: 0.3em; }
.eiDWck:hover, .eiDWck:active, .eiDWck:focus, .eiDWck span { color: inherit; }
.eiDWck span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.ggiiWj { grid-gap: var(--pf-s-lg); display: grid; }
@media (max-width: 1199px) and (min-width: 992px) {
  .ggiiWj { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .ggiiWj { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .ggiiWj { grid-gap: var(--pf-s-xs); }
}
.ggiiWj a { display: block; }
.ggiiWj img { height: auto; width: 100%; }
.ggiiWj .pf-c { }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cxBaVr { margin: 0px; }
.cxBaVr > div { display: flex; position: relative; }
.cxBaVr.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.cxBaVr input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.cxBaVr.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.cxBaVr.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.cxBaVr input, .cxBaVr button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.cxBaVr.cxBaVr button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.cxBaVr button > i + span { margin-left: 10px; }
.cxBaVr input { width: 100%; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.gnnRUF { position: relative; display: flex; margin-top: 10px; }
.gnnRUF .icon-left { transform: rotate(180deg); }
.gnnRUF .icon-right { right: 0px; }
.gnnRUF .icon-left:hover, .gnnRUF .icon-right:hover { opacity: 0.5; }
.gnnRUF .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 50px; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { height: 0px; float: left; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gnnRUF .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gnnRUF { display: none; }
}
.eAxLDs { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eAxLDs { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eAxLDs { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .eAxLDs { display: var(--pf-d-xs); }
}
.eAxLDs img { border-radius: 4px; width: 100%; }
.eAxLDs a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .eAxLDs { margin: 0px; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-20b0ead3 {
		font-family: "Roboto Slab";
		 text-transform: uppercase;
		 font-size: 12px;
		 letter-spacing: 2.4px;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-799cf293 {
		font-size: 34px;
		 font-family: "Roboto Slab";
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-72df22a8 {
		border: 1px solid rgb(145, 157, 169);
		 font-family: "Roboto Slab";
		 font-size: 12px;
		 letter-spacing: 2.4px;
		 padding: 22px 21px;
	}
	.__pf .pf-72df22a8:hover {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-ea7f3161 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d105bbc8-c337-4a9b-90ec-bc771404e42c--Pillow-01.png?294497");
		 padding-top: 345px;
		 padding-bottom: 115px;
		 background-size: cover;
		 padding-left: 630px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-316112ef {
		padding-top: 50px;
		 padding-bottom: 20px;
	}
	.__pf .pf-12efb2ac {
		font-size: 30px;
		 color: rgb(180, 180, 180);
	}
	.__pf .pf-958a86e8 {
		margin-top: 0px;
		 font-size: 13px;
		 font-family: "Roboto Slab";
		 font-weight: 700;
		 margin-bottom: 0px;
	}
	.__pf .pf-d1d2b741 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 margin-bottom: 0px;
		 font-family: "Roboto Slab";
		 font-weight: 400;
		 margin-top: 0px;
	}
	.__pf .pf-b741077a {
		margin-left: 10px;
	}
	.__pf .pf-144a4395 {
		border-style: solid;
		 border-color: rgb(167, 167, 167);
		 border-width: 1px;
		 padding: 25px 15px;
	}
	.__pf .pf-43955560 {
		font-size: 30px;
		 color: rgb(180, 180, 180);
	}
	.__pf .pf-5560eb0f {
		text-align: left;
	}
	.__pf .pf-184cec34 {
		margin-top: 0px;
		 font-size: 13px;
		 font-family: "Roboto Slab";
		 font-weight: 700;
		 margin-bottom: 0px;
	}
	.__pf .pf-621a1ca3 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 margin-bottom: 0px;
		 font-family: "Roboto Slab";
		 font-weight: 400;
		 margin-top: 0px;
	}
	.__pf .pf-1ca3be24 {
		margin-left: 10px;
	}
	.__pf .pf-2bbfc4c9 {
		border-style: solid;
		 border-color: rgb(167, 167, 167);
		 border-width: 1px;
		 padding: 25px 15px;
	}
	.__pf .pf-c4c90961 {
		font-size: 30px;
		 color: rgb(180, 180, 180);
	}
	.__pf .pf-76d077e2 {
		margin-top: 0px;
		 font-size: 13px;
		 font-family: "Roboto Slab";
		 font-weight: 700;
		 margin-bottom: 0px;
	}
	.__pf .pf-1687e021 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 margin-bottom: 0px;
		 font-family: "Roboto Slab";
		 font-weight: 400;
		 margin-top: 0px;
	}
	.__pf .pf-e021fe5d {
		margin-left: 10px;
	}
	.__pf .pf-c44eaf66 {
		border-style: solid;
		 border-color: rgb(167, 167, 167);
		 border-width: 1px;
		 padding: 25px 15px;
	}
	.__pf .pf-af661148 {
		font-size: 30px;
		 color: rgb(180, 180, 180);
	}
	.__pf .pf-0709848b {
		margin-top: 0px;
		 font-size: 13px;
		 font-family: "Roboto Slab";
		 font-weight: 700;
		 margin-bottom: 0px;
	}
	.__pf .pf-155d22a1 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 margin-bottom: 0px;
		 font-family: "Roboto Slab";
		 font-weight: 400;
		 margin-top: 0px;
	}
	.__pf .pf-22a1f535 {
		margin-left: 10px;
	}
	.__pf .pf-f105acf0 {
		border-style: solid;
		 border-color: rgb(167, 167, 167);
		 border-width: 1px;
		 padding: 25px 15px;
	}
	.__pf .pf-90ab6fe6 {
		font-family: "Roboto Slab";
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-71690b25 {
		border-style: solid;
		 border-color: rgb(145, 157, 169);
		 border-width: 0px 0px 1px;
		 font-style: italic;
		 padding: 0px 0px 5px;
	}
	.__pf .pf-0b25088e {
		text-align: right;
	}
	.__pf .pf-eaf7616b {
		font-family: "Roboto Slab";
		 font-size: 14px;
		 letter-spacing: 2.8px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 5px;
	}
	.__pf .pf-44762911 {
		border: 2px none rgb(145, 157, 169);
		 padding: 0px 5px 0px 0px;
		 color: rgb(114, 114, 114);
		 font-family: "Roboto Slab";
		 font-size: 12px;
	}
	.__pf .pf-29116a28 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-fd8e0ed7-d8cd-4f85-a777-734a21cd68da--Pillow-02.png?295715");
		 padding: 40px 30px;
		 background-size: cover;
		 min-height: 605px;
	}
	.__pf .pf-12071c64 {
		font-family: "Roboto Slab";
		 font-size: 34px;
		 font-weight: 700;
		 margin-top: 0px;
		 line-height: 1.25;
		 margin-bottom: 30px;
	}
	.__pf .pf-e14df74d {
		border: 2px none rgb(145, 157, 169);
		 padding: 0px 5px 0px 0px;
		 color: rgb(114, 114, 114);
		 font-family: "Roboto Slab";
		 font-size: 12px;
	}
	.__pf .pf-f74d27d3 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-67a2ceb7-7e3c-4bae-9304-81015429224d--Pillow-03.png?295208");
		 padding: 135px 30px 45px;
		 margin-bottom: 10px;
		 background-size: cover;
		 min-height: 275px;
	}
	.__pf .pf-8630f33b {
		font-family: "Roboto Slab";
		 font-size: 14px;
		 letter-spacing: 2.8px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 5px;
	}
	.__pf .pf-0adb1224 {
		border: 2px none rgb(145, 157, 169);
		 padding: 0px 5px 0px 0px;
		 color: rgb(114, 114, 114);
		 font-family: "Roboto Slab";
		 font-size: 12px;
	}
	.__pf .pf-1224d6f1 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-829c2b6b-1144-474f-84fd-61334dba8344--Pillow-04.png?295216");
		 min-height: 275px;
		 background-size: cover;
		 padding: 40px 30px;
	}
	.__pf .pf-3b62f559 {
		font-family: "Roboto Slab";
		 font-size: 14px;
		 letter-spacing: 2.8px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 5px;
	}
	.__pf .pf-b92cbbb3 {
		border: 2px none rgb(145, 157, 169);
		 padding: 0px 5px 0px 0px;
		 color: rgb(114, 114, 114);
		 font-family: "Roboto Slab";
		 font-size: 12px;
	}
	.__pf .pf-bbb3fc85 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8e941353-53cc-4fc6-b688-8e0b234f9214--Pillow-05.png?295224");
		 min-height: 275px;
		 background-size: cover;
		 padding: 40px 30px;
	}
	.__pf .pf-5372d502 {
		border-style: solid;
		 border-color: rgb(210, 210, 210);
		 border-width: 1px;
	}
	.__pf .pf-5372d502 > div > button {
		background-color: rgb(51, 51, 51);
		 font-size: 14px;
	}
	.__pf .pf-5372d502 > div > input {
		font-size: 12px;
		 font-family: "Roboto Slab";
		 font-weight: 400;
	}
	.__pf .pf-d9b48656 {
		font-family: "Roboto Slab";
		 font-size: 18px;
		 font-weight: 700;
		 margin-bottom: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-035c16e5 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 font-family: "Roboto Slab";
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-1fac2758 {
		padding-top: 20px;
		 padding-bottom: 30px;
		 padding-left: 150px;
		 background-color: rgb(249, 249, 251);
		 margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-4126ed9e {
		text-transform: uppercase;
		 font-family: "Roboto Slab";
		 font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 font-weight: 700;
	}
	.__pf .pf-c9b22bd6 {
		color: rgb(114, 114, 114);
		 font-size: 12px;
		 font-family: "Roboto Slab";
		 margin-top: 0px;
		 margin-bottom: 40px;
	}
	.__pf .pf-9f75b844 {
		text-align: center;
	}
	.__pf .pf-373c257d {
		padding-top: 30px;
	}
	.__pf .pf-375e97ff {
		font-family: "Roboto Slab";
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 font-size: 18px;
		 font-weight: 700;
	}
	.__pf .pf-bd81845d {
		padding-top: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-ea7f3161 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d105bbc8-c337-4a9b-90ec-bc771404e42c--Pillow-01.png?294497");
		 padding-bottom: 60px;
		 padding-left: 0px;
		 padding-top: 130px;
	}
	.__pf .pf-316112ef {
		padding-top: 30px;
	}
	.__pf .pf-b741077a {
		margin-left: 0px;
	}
	.__pf .pf-1ca3be24 {
		margin-left: 0px;
	}
	.__pf .pf-e021fe5d {
		margin-left: 0px;
	}
	.__pf .pf-22a1f535 {
		margin-left: 0px;
	}
	.__pf .pf-0b25088e {
		text-align: left;
	}
	.__pf .pf-29116a28 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-fd8e0ed7-d8cd-4f85-a777-734a21cd68da--Pillow-02.png?295715");
		 background-position: 100% 0%;
	}
	.__pf .pf-1224d6f1 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-829c2b6b-1144-474f-84fd-61334dba8344--Pillow-04.png?295216");
	}
	.__pf .pf-bbb3fc85 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8e941353-53cc-4fc6-b688-8e0b234f9214--Pillow-05.png?295224");
	}
	.__pf .pf-1fac2758 {
		padding-left: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-ea7f3161 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d105bbc8-c337-4a9b-90ec-bc771404e42c--Pillow-01.png?294497");
	}
	.__pf .pf-316112ef {
		background-image: url("");
	}
	.__pf .pf-29116a28 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-fd8e0ed7-d8cd-4f85-a777-734a21cd68da--Pillow-02.png?295715");
	}
	.__pf .pf-1224d6f1 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-829c2b6b-1144-474f-84fd-61334dba8344--Pillow-04.png?295216");
	}
	.__pf .pf-bbb3fc85 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8e941353-53cc-4fc6-b688-8e0b234f9214--Pillow-05.png?295224");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-ea7f3161 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-d105bbc8-c337-4a9b-90ec-bc771404e42c--Pillow-01.png?294497");
		 padding-left: 30px;
	}
	.__pf .pf-316112ef {
		background-image: url("");
	}
	.__pf .pf-29116a28 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-fd8e0ed7-d8cd-4f85-a777-734a21cd68da--Pillow-02.png?295715");
		 background-position: 100% 50%;
		 min-height: 585px;
	}
	.__pf .pf-1224d6f1 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-829c2b6b-1144-474f-84fd-61334dba8344--Pillow-04.png?295216");
		 background-position: 100% 50%;
	}
	.__pf .pf-bbb3fc85 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-8e941353-53cc-4fc6-b688-8e0b234f9214--Pillow-05.png?295224");
		 background-position: 100% 50%;
	}
	.__pf .pf-1fac2758 {
		padding-left: 0px;
	}
}
						

 