/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-448763ef {
		font-family: futura, sans-serif;
		 margin: 0px 0px 20px;
		 font-size: 30px;
		 color: rgb(0, 0, 0);
		 letter-spacing: 0px;
		 text-align: center;
		 font-weight: 500;
		 line-height: 1.1em;
	}
	.__pf .pf-85f1a782 {
		font-family: futura, sans-serif;
		 font-size: 14px;
		 color: rgb(0, 0, 0);
		 letter-spacing: 0.29px;
		 text-align: center;
		 margin: 0px;
		 line-height: 1.4em;
	}
	.__pf .pf-bfcdcc5b {
		font-family: Montserrat;
		 font-size: 14px;
		 color: rgb(0, 0, 0);
		 letter-spacing: 0.29px;
		 line-height: 25px;
		 margin: 20px 0px;
	}
	.__pf .pf-cc5bb666 {
		max-width: 820px;
		 margin: 0px auto;
	}
	.__pf .pf-06b2eec8 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-448763ef {
		font-size: 34px;
	}
	.__pf .pf-85f1a782 {
		font-size: 34px;
	}
	.__pf .pf-06b2eec8 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
}
						

 