<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.1/css/main-style.css?t=20210114150159"><link rel="stylesheet" href="{{ 'pagefly.c4a9fd68.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-415ea032"><div data-pf-type="Layout" class="pf-9e415ea0"><div data-pf-type="CollectionPreview" class="sc-qYGzz cjQBWh pf-b2fd73af"><!-- EXPONEA start -->
{% if collection %}
<script type="text/javascript">
    exponea.track('view_category',{
        category_name: {{ collection.title | json }},
        category_id: {{ collection.id | json }}
    });
</script>
{% endif %}
<!-- EXPONEA end -->
 
{% section 'collection-header' %}
</div><div data-container="true" class="sc-pZopv bjKdkd pf-686b95d9" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-059e415e" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-52059e41 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f8fe27b3" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-af25a989"><div data-pf-type="Divider" class="sc-qQKeD NKnmf pf-48299ef6"><div><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d9314829">NATURAL</span></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-73af25a9">{% include 'custom-collection-grid' , collection_name:'lashes-collections-natural'%}</div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-89f3ad39"><div data-pf-type="Divider" class="sc-qQKeD NKnmf pf-49939af8"><div><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2c264993">GLAM</span></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a989f3ad">{% include 'custom-collection-grid' , collection_name:'lashes-collections-glam'%}</div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.1","shopDomain":"moxielashies.myshopify.com","elementData":{},"pageTitle":"Lashies Collections","pageType":"collection","pageId":"c4a9fd68-6b95-4931-8829-9ef6a02c2649","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-14T10:14:38.985Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.1/core/helper.js?t=20210114150159" defer></script>